<ion-content>

  <div class="container">
    <div class="intro">
      <ion-icon name="flask"></ion-icon>

      <h1>nassau<span>Tickets</span></h1>

      <h3>Laboratório de Análises Clínicas</h3>
      <p>Seu atendimento, mais simples e organizado.</p>
    </div>

    <div class="actions">
      <ion-button routerLink="/emitir-senha">
        Solicitar senha
      </ion-button>

      <ion-button
        fill="outline"
        routerLink="/login-atendente">
        Fazer login
      </ion-button>
    </div>

  </div>

</ion-content>